<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    <strong>Desenhos</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Filme</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-item routerLink="/a-fuga-das-galinhas">
      <ion-thumbnail slot="start">

        <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wGphhYXEX0jzuPYB7XgUWyOjVmo.jpg" />

      </ion-thumbnail>
      <ion-label><h2>A Fuga das Galinhas</h2></ion-label>
    </ion-item>
  </ion-item>


  <ion-item>
    <ion-item routerLink="/pocahontas">
      <ion-thumbnail slot="start">

        <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/edIqnYPOW0gkTsX2CEFdqpHhQhz.jpg" />

      </ion-thumbnail>
      <ion-label><h2>Pocahontas: O Encontro de Dois Mundos</h2></ion-label>
    </ion-item>
  </ion-item>


  <ion-item>
    <ion-item routerLink="/tarzan">
      <ion-thumbnail slot="start">

        <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ce4mU4yyubjP1uXcz48fMndCZni.jpg" />

      </ion-thumbnail>
      <ion-label><h2>Tarzan</h2></ion-label>
    </ion-item>
  </ion-item>


  <ion-item>
    <ion-item routerLink="/mulan">
      <ion-thumbnail slot="start">

        <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/nq4taYpb2PjN1Cwni23GOZJbOaR.jpg" />

      </ion-thumbnail>
      <ion-label><h2>Mulan</h2></ion-label>
    </ion-item>
  </ion-item>


  <ion-item>
    <ion-item routerLink="/hercules">
      <ion-thumbnail slot="start">

        <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gKwBRP5o8t6BpUfSeIy09q9AiH0.jpg" />

      </ion-thumbnail>
      <ion-label><h2>Hércules</h2></ion-label>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-item routerLink="/a-dama-e-o-vagabundo">
      <ion-thumbnail slot="start">

        <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/qKBA03V9LvfpvcNfUgAwdydRSA1.jpg" />

      </ion-thumbnail>
      <ion-label><h2>A Dama e o Vagabundo</h2></ion-label>
    </ion-item>
  </ion-item>
</ion-content>
